<nav class="navbar navbar-expand-lg" style="background-image: url('D:\pyton\Final project\Healthy Life\backround.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="container  p-3 my-3 border">
        <a class="navbar-brand" href="#">Healthy Life &#127793;</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="nav nav-tabs" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bmi">BMI Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/GYMs">Gym near you</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
